
/* Set overall style for the page */
body {
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif
}

/* insert collapsible menu */
HTML CSSResult Skip Results Iframe
EDIT ON
body{
font-family:Helvetica,Arial;
color: black;


}

ul{
list-style:none;  
margin:0;
padding:0;
width:0px;
box-shadow:0 0 0px black,
           0 0 0 0px black;
border-radius:0px black;  
color: black;

}
ul li{
display:block;
margin:15p;
height:15px;  
background:rgb(87, 228, 21, 0.997);
padding:20px;

}
ul li:hover{
background:rgba(87, 228, 21, 0.997);
}
ul li:last-child{
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
color: black
}
label:before{
height:2px;
width:20px;
background:black;
display:inline-block;
content:"";
box-shadow:0px -5px 0px 0px  black,
           0px -10px 0px 0px black;
margin-right:0px;
transition:all .5s;
position:relative;
opacity:0.5;
color: black;
}
label{
display:block;
background:rgb(87, 228, 21, 0.997);
padding:10px;
color:black;  
cursor:pointer; 

}
input[type="checkbox"]{
visibility:hidden;
position:absolute;
}
#collapse:checked ~ li{
display:none;
margin-top:0; 
color: black;
}
#collapse:checked + label:before{
position:relative;
right:calc(0px);
opacity:1;
color: black;

}

/* Set style for the header section */
header {
  height: 90vh; /* height of the section. vh stands for "viewport height" - height of the browser */    
  display: flex; /* activates the flexbox tools to manipulate the sections easily */
  flex-direction: column; /* makes the elements in the section go in a vertical/ column direction instead of horizontal */
  justify-content: start; /* aligns across the horizontal axis */
  align-items: left; /* aligns across the vertical axis */
  background-color: black;
  color: white;
  font: sans-serif;
  line-height: 2px;
  border-radius: 20px;
      padding-left: 20px;
      padding-top: 100px;
}

/* Set styles for the headers */
header h1 {
  font-size: 4em;
}

section h2 {
  font-size: 3em;
}

/* Set style for the body sections */
.about-body {
    width: 100%; /* width of the section. extra wide for text blocks, tableau dashboard */
    height: 90vh; 
    margin: 0 auto; /* makes the margin center horizontally */
    display: flex; 
    flex-direction: column; 
    justify-content: start; 
    align-items: left;    
    background-color: rgba(14, 20, 14, 0.75);
    color: rgba(224, 248, 224);
    line-height: 2px;
    border-radius: 20px;
        padding-left: 20px;
        padding-top: 50px;
  }

.findings-body {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;    
    background-color: rgba(14, 30, 14, 0.6);
    color: rgba(205, 220, 205, 0.832);
    line-height: 2px;
    border-radius: 20px;
        padding-left: 20px;
        padding-top: 50px;
  }

.learning-model-body {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: left;    
    background-color: rgba(14, 40, 14, 0.45);
    color: rgba(10, 11, 10, 0.6);
    line-height: 2px;
    border-radius: 20px;
        padding-left: 20px;
        padding-top: 50px;
  }

.tableau-body {
    width: 100%;
    height: 100%; /* made this 100% for the tableau dashboard to fit based on the tableau java code */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;    
    background-color: rgba(14, 50, 14, 0.2);
    color: rgba(10, 12, 10, 0.75);
    line-height: 2px;
    border-radius: 20px;
        padding-left: 20px;
        padding-top: 50px;
  }

.viz-body {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;    
    background-color: white;
    color: black;
    line-height: 2px;
    border-radius: 20px;
        padding-left: 20px;
        padding-top: 50px;
  }

/* Set style for the navigation bar */
nav {
    padding: 0;
    position: fixed; /* freezes the bar at the top of the page */
    z-index: 999; /* makes it so the navigation bar is always on top of the other elements on the page */
    background-color: black;
    font-size: 12px;
    align-items: center;  
    white-space: nowrap; 
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* first-child and last-child are CSS specific attributes to call the nav list items */
  nav ul li:first-child {
    margin-right: auto;
  }
  
  nav ul li:not(:first-child) {
    margin-left: 1em;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }

  nav a {
    color: black;
    text-decoration: none;
    

  }


Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
